
#summary {
    margin-top: 30px;
    margin-bottom: 40px;
}

#summary table {
    border-collapse: collapse;
}

#summary td {
    vertical-align: top;
}

.breadcrumbs, .breadcrumbs a {
    color: #606060;
}

.infoBox {
    width: 110px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.infoBox p {
    margin: 0;
}

.counter, .percent {
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 8px;
}

#duration {
    width: 125px;
}

#successRate, .summaryGroup {
    border: solid 2px #d0d0d0;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#successRate {
    width: 140px;
    margin-left: 35px;
}

#successRate .percent {
    font-size: 180%;
}

.success, .success a {
    color: #0E7CC6;
}

.class, .class a {
    color: #0E7CC6;
}

.test, .test a {
    color: #629755;
}

.tag, .tag a {
    color: #0E7CC6;
}

div.success, #successRate.success {
    background-color: #bbd9bb;
    border-color: #0E7CC6;
}

div.class, #successRate.class {
    background-color: #bbd9bb;
    border-color: #0E7CC6;
}

div.test, #successRate.test {
    background-color: #bbd9bb;
    border-color: #629755;
}

div.tag, #successRate.tag {
    background-color: #bbd9bb;
    border-color: #0E7CC6;
}

.failures, .failures a {
    color: #b60808;
}

.skipped, .skipped a {
    color: #c09853;
}

div.failures, #successRate.failures {
    background-color: #ecdada;
    border-color: #b60808;
}

ul.linkList {
    padding-left: 0;
}

ul.linkList li {
    list-style: none;
    margin-bottom: 5px;
}
